---
layout: page
title: Blog Posts
---

<!-- Show all posts here -->
{% for post in site.posts %}
    <article>

        <header>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
            <span class="date"><span class="glyphicon glyphicon-calendar"></span> <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span><br/>
            <span class="category"><span class="glyphicon glyphicon-tag"></span> {{ post.categories | category_links }}</span><br/>
            <span class="author"><span class="glyphicon glyphicon-user"></span> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>
    
        <div class="entry">{{ post.excerpt }}</div>
        <p class="muted"><a class="btn btn-default" href="{{site.baseurl}}{{post.url}}">View Post &#187;</a></p>
    </article>
{% endfor %}
