      <div class="footer">
          <p class="left"><a href="http://twitter.com/DigitalIRC"><img src="{{site.socialiconpath}}twitter.png"></a>
          <a href="http://github.com/DigitalIRC"><img src="{{site.socialiconpath}}github.png" 
          width="24" height="24"></a><!--needs to be resized-->      
          <a href="http://DigitalIRC.tumblr.com/"><img src="{{site.socialiconpath}}tumblr.png"></a>
          </p>
          <p class="right">&#169; DigitalIRC 2013</p>
          <p class="centered"></p>
      </div>
