      <div class="footer">
          <p class="left">
            <a href="http://twitter.com/StrathSEDS"><img src="{{site.socialiconpath}}twitter.png"></a>
            <a href="http://github.com/StrathSEDS"><img src="{{site.socialiconpath}}github.png" 
            width="24" height="24"></a><!--needs to be resized-->      
            <a href="https://www.facebook.com/groups/249541428501686/"><img src="{{site.socialiconpath}}facebook.png"></a>
          </p>
          <p class="right">&#169; StrathSEDS {{ site.time | date: '%Y' }} &middot; <a href="{{site.baseurl}}/terms/">Terms</a><br /><span class="muted">Hosted by <a href="http://geeksoc.org/">GeekSoc</a></span></p>
      </div>
