<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@strathseds">
<meta name="twitter:title" content="Students for the Exploration and Development of Space">
<meta name="twitter:description" content="The Strathclyde Students for the Exploration and Development of Space is an engineering/science-based society for students of the University of Strathclyde.">
<meta name="twitter:creator" content="">
<meta name="twitter:image:src" content="http://i.space.com/images/i/000/024/745/wS4/andromeda-galaxy-trio-1600.jpg?1356979401">
<meta name="twitter:domain" content="stathseds.org">
